player-connection-mode=Listen
player-connection-guid=3362687265
player-connection-debug=0
player-connection-project-name=MiceGramophone
player-connection-ip=10.20.0.175
player-connection-ip=192.168.137.1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5aa2907d6d294abea326f89b0973bef5
